* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #efebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-color 0.5s ease;
}

header {
  width: 100%;
  text-align: center;
  background-color: #4d72aa;
  color: white;
  padding: 15px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 50px;
  margin-right: 10px;
}

h1 {
  margin-bottom: 20px;
}

.container {
  background-color: #ffffffcb;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.weather-form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 200px;
  border: 1px solid #737abc;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.weather-result {
  margin-top: 20px;
}

#city-name {
  font-size: 24px;
  font-weight: bold;
}

#temperature {
  font-size: 18px;
}

#weather-description {
  font-size: 16px;
  color: #666;
}

/* Weather condition backgrounds */
.sunny {
  background-color: #ffe680;
  color: #ff8000;
}

.cloudy {
  background-color: #b3c6cc;
  color: #333;
}

.rainy {
  background-color: #b3d9ff;
  color: #004080;
}

.clear {
  background-color: #87ceeb;
  color: #0066cc;
}

.stormy {
  background-color: #2e2e2e;
  color: white;
}